body{
    margin: 0;
}
#wrapper {
    width: 100%;
    margin: 0 0;
}
#container {
    width: 80%;
    margin: 0 auto;
}
#clear {
    clear: both;
}
.right {
    float: right;
}
.left {
    float: left;
}
/*-------------CONTENT-------------*/
 .home {
    list-style-type: none;
    padding-left: 0;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
}
.home li{
	display: inline;
}
.home a {
    text-decoration: none;
    color: #5c6868;
}
.menu {
    list-style-type: none;
    padding-left: 0;
    width: 40%;
    font-size: 17px;
    text-align: right;
}
.menu li {
    display: inline;
    margin-left: 10%;
    color: #5c6868;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    margin-right: 0;
}
#topContainer {
    border: 1px solid #ced1d5;
}
#mainContent {
    background: #ecf0ef;
    margin: 0;
    padding-top: 2%;
}
.title {
    text-align: center;
    margin-top: 0;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    color: #5c6868;
}
.favoriteContainer ul {
    display: inline-block;
    list-style-type: none;
    border: 1px solid #ced1d5;
    padding-left: 0;
    margin-right: 1.31%;
    margin-top: 0;
    width: 31%;
    vertical-align: top;
    background: #fff;
}
.favoriteContainer li {
    padding-left: 0;
    text-align: center;
}
.header {
    font-size: 20px;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    border: 1px solid #ced1d5;
    background: #6a9acd;
    padding: 5% 0;
}
.content {
    text-align: center;
    border-bottom: 1px solid #ced1d5;
    padding: 5% 0;
    width: 100%;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
}
.favorite a {
    text-decoration: none;
    color: #5c6868;
}
.favorite a:hover {
    text-decoration: underline;
}
.content a:last-child {
    border-bottom: none;
}
.content:hover {
    background: #ced1d5;
}
.content a {
    text-decoration: none;
    color: #5c6868;
}
.content a:hover {
    text-decoration: underline;
}
description {
    margin-left: 1%;
    background: #666;
    position: fixed;
    border: 1px solid #000;
    color: #fff;
    visibility: hidden;
}
.favorite li:hover description {
    visibility: visible;
}
#footer {
    width: 100%;
    border-top: 1px solid #ced1d5;
    margin-left: 0;
}
.copyright {
    list-style-type: none;
    color: #5c6868;
    padding-left: 0;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
}
.foot {
    list-style-type: none;
}
.foot li {
    display: block;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 34px;
}
.foot a {
    text-decoration: none;
    color: #5c6868;
}
.foot a:hover {
    text-decoration: underline;
}
@media (min-width: 0px) and (max-width: 600px) {
    #container {
        width: 100%;
    }
    .favoriteContainer ul {
        width: 100%;
        margin-top: .5%;
        border: none;
        padding-top: 0;
    }
    .favorite {
        padding-top: 5%;
    }
    .favorite:first-child {
        padding-top: 0;
    }
    .header {
        border-top: 1px solid #ced1d5;
    }
}
/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
	.container {
		width: 100%;
		margin: 0;
	}
	.home{
		text-align: center;
		width: 100%;
	}
	.home li{
		font-size: 36px;
	}
	.mobile {
		display: none;
	}
     .favoriteContainer {
        width: 100%;
        margin: 0%;
    }
    .favoriteContainer ul{
        width: 100%;
        margin: 0;
        border: none;
        border-top: 1px solid #000;
    }
    .favorite {
        padding-top: 5%;
    }
    .favorite:first-child {
         padding-top: 0; 
    }
    .title {
        display: none;
    }
    .header {
        font-size: 46px;
        border-top: 1px solid #000;
    }
    .content {
        font-size: 40px;
    }
}
